<div class="card">
    <div class="card-body">
    <h3 class="card-title">Thank you for your Registration!</h3>
    <h5 class="card-title">Verifcation E-mail</h5>
    <p class="card-text">Verification email have sent</p>
    <p class="card-text">Please check your e-mail and click on the link to verify your email address</p>
    <form>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input #userEmail type="email" class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <button (click)="sendVerificationEmail()" type="submit" class="btn btn-success">Resend verification e-mail</button>
    </form>

    <div class="my-3">
      <div>Go back to</div>
      <button routerLink="/signin" class="btn btn-primary">
          Login</button>
      </div>
  </div>
</div>

