<div class="row">
    <div *ngFor="let column of columns" class="col">
        {{column}}
    </div>
    <div class="col">Actions</div>
</div>

<div class="row my-3">
    <div *ngFor="let column of columns" class="col">
        <input type="text" class="form-control" [(ngModel)]="newmaterial[column]">
    </div>

    <div class="col">
        <div class="row">
            <div class="col">
                <button (click)="createMaterial(newmaterial)" type="button" class="btn btn-warning">Create</button>
            </div>
            </div>
    </div>

</div>


<div *ngIf="materials">
        <div *ngFor="let material of materials" class="row my-2">
            <div *ngFor="let column of columns" class="col">
                <input type="text" class="form-control" [(ngModel)]="material[column]">
            </div>
        
            <div class="col modify">
                <div class="row">
                    <div class="col">
                        <button (click)="updateMaterial(material)" type="button" class="btn btn-warning">Modify</button>
                    </div>
            </div>
            </div>
            <div class="col delete" >
                <div class="row">
                    <div class="col">
                        <button (click)="deleteMaterial(material)" type="button" class="btn btn-danger">Delete</button>
                    </div>
                 </div>
            </div>
        </div>
</div>

<div *ngIf="showerror" class="card alert alert-warning" role="alert">
       <div class="card-body">
      <h5 class="card-title">Failure!</h5>
      <p class="card-text">
        {{errorMessage}}
      </p>
      <a routerLink="/signin" class="btn btn-primary">Go to Login</a>
    </div>
</div>
