<div class="card">
    <div class="card-body">
    <h3 class="card-title">Reset Password</h3>
    <p class="card-text">Please enter your e-mail to have password reset</p>
    <form>
      <div class="form-group row my-3">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input #userEmail type="email" class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <button (click)="forgotPassword(userEmail.value)" type="submit" class="btn btn-success">Resend verification e-mail</button>
    </form>

    <div class="my-3">
      <button routerLink="/signin" class="btn btn-primary">
          Login</button>
      </div>
  </div>
</div>
